[Unit]
Description=Keycloak
Documentation=http://www.keycloak.org/documentation.html
After=network-online.target
Wants=network-online.target

[Service]
Type=idle
User=keycloak
Group=keycloak
WorkingDirectory=/var/lib/keycloak
EnvironmentFile=-/etc/sysconfig/keycloak
ExecStart=/opt/jboss/keycloak/bin/standalone.sh ${EXTRA_OPTS}
TimeoutStartSec=600
TimeoutStopSec=600s
KillSignal=SIGINT

[Install]
WantedBy=multi-user.target
